
body{
	
	background:#ffd433;
}

header{
background: #282828
}

.site{
	max-width: 1200px; /*Largura maxima do conteudo do site*/ 
	widows: 100%;
	margin: 0 auto;
}
.topo h1{
    background: url(../img/icon1.png) no-repeat;
    width: 250px;
    height: 150px;
    text-indent: -250px;
}
.topo{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.topo nav ul{
	display: flex;
	justify-content:space-between;
}
.topo nav ul li{
	display: block;
	padding: 30px 30px;
	margin: 0 15px;
}
.topo nav ul li:hover{
	background:#ffd433
}
.topo nav ul li a{
	font-size: 18px;
	text-decoration: none;
	color: #FFFFFF;
}


.banner img{
	width: 100%;
}
.sobre{
	margin: 2% 0;
}
.sobre div{
	display: flex;
	justify-content: space-around;
}
.sobre div article{
	width: 40%;
}
.sobre div article:nth-child(1){
	margin-left: 12%;
}
.sobre h2{
	font-size: 36px;
	font-weight: bold;
}
.sobre p{
	font-size: 16px;
	text-align: justify;
	border: solid 4px #282828;
	padding: 5% 20% 5% 5%;
	line-height: 25px;
}
.sobre div article img{
	width: 100%;
    position: relative;
    margin-left: -140px;
    margin-top: 80px;
}
.servico{
	background:#282828;
	padding: 40px; /*padding é alinhamento da imagem,contorno baseada da tela*/
	text-align: center; /*text-aling= Alinhamento de texto*/
}

.servico h2{
	background: rgba(239,239,239,1.00); /*background= Colocar cor de fundo*/
	padding: 1%;
	width: 100px; /*width= Largura*/ 
	margin: 0 auto; /*margin= Margem, auto é pra centralizar automaticamente*/
	border-radius: 5px 5px 0 0; /*border-radius= Borda, 5px 5px= arredondamento das bordas; 0 0= deixa quadrado, sem arredondamento*/ 
	color:#00000; /*color= Cor*/
	font-weight: bold;/* Fonte do texto*/
}
.servico hr{
	height: 3px;
    background: rgba(239,239,239,1.00);
    position: relative;
    margin-top: -3px;
    border: none;
}
.servicoUm{
	display: flex;
	justify-content: space-between;
}
.servicoUm article{
	width: 23%;
	background: #FFFFFF;
	padding: 3px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 1px #333;
}
.servicoUm article img{
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.servicoUm article h3{
	color:#282828;
	padding: 3% 0;
}
.servicoUm article p{
	text-align: justify;
	padding-bottom: 20px;
	font-size: 12px;
}
.servicoUm article a{
	display: block;
	width: 120px;
	height: 30px;
	margin: 0 auto;
	line-height:28px;
	text-decoration:none;
	background: #282828;
	color: #FFFFFF;
	border-radius: 5px;
}
.servicoUm article a:hover{
	background: #CCC;
	color:#282828;
}
.equipe h2{
	background: rgba(239,239,239,1.00); /*background= Colocar cor de fundo*/
	padding: 1%;
	width: 100px; /*width= Largura*/ 
	margin: 0 auto; /*margin= Margem, auto é pra centralizar automaticamente*/
	border-radius: 5px 5px 0 0; /*border-radius= Borda, 5px 5px= arredondamento das bordas; 0 0= deixa quadrado, sem arredondamento*/ 
	color:#000000; /*color= Cor*/
	font-weight: bold
}

.equipe{
	padding: 3px;
	text-align: center
}
.equipe article img{
	width: 100%;
	border-radius: 50%;
	box-shadow: 1px 1px 5px 1px #333;
}
.equipeUm { 
	display:flex;
	justify-content: space-between
}
.equipe hr{
	height: 3px;
	background:#00000;
	position:relative;
	margin-top:-3px;
	border:none;
}
